*.tex
*.bbl
*.log
*.out
*.tex
*.aux
*.tiff
.Rhistory
*.sw*
*.Rout
*.nav
*.snm
*.toc
*.vrb
*.blg
quellen/
presentation/notes
presentation/regressionPresentation-*
presentation/regressionPresentation.R
ausarbeitung/ausarbeitung-*
BishopPic/BishopPic.xcf
